*{
    box-sizing: border-box;
}

body{
    margin: 0;
     font-family: 'Roboto', sans-serif;
}

h2{
    font-size: 3.1em;
    color: white;
    text-align: center;
}

p{font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    color: white;
    background-color: #0E46A3;
}

button:hover{
    background-color: #08285c;
}

.container{
    max-width: 1100px;
    margin: auto;
}

header{
    background-color: #F1F6F9;
}

header .logo{
    margin: 0;
    
    
}

header .marca{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 6em;
    color: #14274E;
}

header .container{
    display: flex;;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

header nav{
    display: flex;
    text-align: center;
    padding-bottom: 25px;
}

header nav a{
    padding: 5px 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color:#0E46A3;
}

nav {
    height: 50px;;
}

.login{
    margin: 0 auto;
}

section {
    background-image:url(../src/images/imagen_contacto.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
    
}

form {
    max-width: 1170px;
    margin-left:100px;
    margin-right:100px;
    padding: 1.5em;
    color: white;
    box-shadow: 0 0 20px rgba(255, 255, 255, .3);
    
}

.controls {
    width: 50%;
    background:none;
    opacity: 0.8;
    padding: 10px;
    border-radius: 4px; /*pone los bordes redondos*/
    margin-bottom: 16px;
    outline: 0;  /*le quita el borde cuando se escribe*/
    border:none; /*le quita el borde al input*/
    border-bottom: 1px solid #1f53c5;
    font-size: 12px;
    color: white;
    line-height: 1vh;
}

.form {
    display:grid; /*divido label e input en columnas**/
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
   
}

input::placeholder {
    color:white;
}



.consultas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textarea {
    box-sizing: border-box;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 10px;
}

li {
    list-style-type: none;
    text-align: left;

}


.genero {
   display:block;
    
}

label {
    font-size: 20px;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form p {
    color: white;
    text-align: center;
    font-size: 18px;
}

form a {
    color: white;
    text-decoration: none;
}

form a:hover {
    color:white;
    text-decoration: underline;
}

form .button {
    width: 100%;
    background: #1f53c5;
    border:none;
    border-radius: 50px;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;

}

.login{
    margin: 0 auto;
}

footer{
    width: 100%;
    height: auto;

    color:black;
    background-color: #F1F6F9;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  
}

footer p{
    margin: 0;
    padding: 12px;
    
    
}

footer .container2 h4 img {
    position: fixed;
    display: inline;
    flex-direction: row-reverse;
}

footer .color-acento{
    font-weight: bold;
    color: #0E46A3;
    height: 50px;
    position: end;
}


/*@media (min-width: 720px){

    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
        
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        align-items: center;
        

    }

    footer .container{
        justify-content: flex-end;
    }

    form {
        margin: auto;
        padding: 20px;
        width: 400px; ancho del formulario
        background: #24303c;
        border-radius: 4px;
        display: grid;
        grid-template-columns: 30x 500px;
        justify-content: center;
        color: white;
        box-shadow: 7px 13px 37px #000;
    }
}


