*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-image: url(../src/images/control_de_ingresos.png);
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
    font-family: 'Roboto', sans-serif; 
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-font-smoothing: antialiased;
    /*z-index: 10;*/
}

h1{font-size: 3.5em;}
h2{font-size: 3.1em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}


.header-contenedor {
    background-color: rgb(241, 246, 249, 0.8); 
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-contenedor, 
.marca-contenedor, .nav-contenedor {
    margin: 0 10px;
}

.logo{
    max-width: 100%;
    height: auto;
    padding-left: 10px;
}

.marca{
    padding: 25px 10px 25px 40px;
    font-weight: bold;
    font-size: 6em;
    color: #14274E;
    font-family: 'Roboto', sans-serif;
    
}

nav {
    display: flex;
    padding-top: 25px;
    padding-right: 5px;
    
}    

a {
    padding: 10px 12px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover{
    color:#0E46A3;
}
main{
    margin-top: 100px;
}

.main-contenedor{
    background-color: white;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#titulo1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 10vh;
    color: #14274E;
    text-decoration-line: overline;
    padding: 10px;
    margin: 5px;
}
    input[type="radio"] {
        display: inline-block;
    margin-right: 10px;
}

    
