*{
    margin: 5px;
    padding: 5px;
    font-family: Verdana;
    background-image: url(../src/image/imagen-index.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    text-align: center;

}

h1 {
    color: green;
}

h1, .jersey-15-regular {
    font-size: 100px;
    font-family: "Jersey 15", sans-serif;
    font-weight:400;
    font-style:normal; 
    opacity: 0.8;
}

body {
    
}

a, .jersey-15-regular {
    font-size: 70px;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 0.4;
}

td {
    display:inline-table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    
}
  
footer {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}